@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap');

@font-face {
    font-family: 'Plein';
    src: url('../src/assests/fonts/Plein_Complete/Fonts/OTF/Plein-Light.otf');
}

* {
    box-sizing: border-box;
    font-family: 'Plein';

}

img {
    max-width: 100%;
}