@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Plein';
    src: url('../src/assests/fonts/Plein_Complete/Fonts/OTF/Plein-Light.otf');
}

* {
    box-sizing: border-box;
    font-family: 'Plein';

}

img {
    max-width: 100%;
}